{% extends 'todo/base.html' %}

{% block content %}
     {% if messages %}
       {% for msg in messages %}
           <div class="alert alert-warning alert-dismissible fade in" role="alert">
             <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <small><sup></sup></small>
             </button>
             {{ msg}}
           </div>
        {% endfor %}
      {% endif %}
{% endblock %}


{% if all_items %}
     {% for things in all_items %}
        {{ things.items }} | {{ things.completed }}<br />
     {% endfor%}
{% endif %}
